*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;

}

section{
  height: cover;
  overflow: hidden;
  background: #000;

}

p{
  position: relative;
  font-size: .5em;
  letter-spacing: -.05em;
  line-height: .7em;
  background: url(photo.png) no-repeat;
  background-position: center;
  background-blend-mode: color-dodge;
  background-attachment: fixed;
  text-align: justify;
  background-size: 100vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255,255,255,0);
}