body{
  margin: 0;
  padding: 0;
  font-family: monospace;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background: #000;
}

p {
  font-size: 10;
  line-height: 8px;
  background: url(Photo.png) no-repeat center / cover;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(255,255,255,0);

}